
$accent: #8b37ff;
$primary: rebeccapurple;

#hero-background {
    background-image: url(hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 50px;
    background-color: rgb(75, 75, 75);
    background-blend-mode: multiply;
}

.curly-brackets {
    color: $accent;
}

.display-1 {
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 30px;
}

.display-3 {
    font-weight: 600;
}

.display-6 {
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 600;
}

.btn-primary {
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: 2rem;
    border-radius: 10rem;
    margin: 30px 0 0;
    font-weight: 600;
}

.icon {
    svg {
        display: inline;
        vertical-align: baseline;
        margin-right: 10px;
    }
    h4 {
        display: inline;
    }
}

#nav {
    p {
        display: inline;
    }
}

@media (max-width: 960px) {
    html {
        font-size: 12px;
    }
    #nav {
        p {
            font-size: 2rem;
        }
    }
}

@media (max-width: 600px) {
    .display-1 {
        font-size: 4.5rem;
    }
    #nav {
        .ms-5 {
            margin-left: 0 !important;
        }
        .me-5 {
            margin-right: 0 !important;
        }
    }
}
